html {
  font-family: arial;
}

body{
    margin:0;
    overflow: hidden;
}
canvas{
    background: ghostwhite;
    width: 100vw;
    height: 100vh;
}
input{
    width: 250px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 125px);
    background: none;
    color: white;
    font-size: 30px;
    font-family: arial;
    text-align: center;
    border: 1px solid white;
    background: rgba(255,255,255,0.2);
}

.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 2.5vh 0rem;
  text-align: center;
  width: 33%;
  color: black;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  transition: all 0.3s;
  text-decoration: none;
  user-select: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.openLinks {
  position: absolute;
  top: 36px;
  left: 0;
  height: 75px;
  width: 35px;
  background: rgba(251, 251, 251, 0.68);
  transition: 1s;
}

.content {
  overflow: auto;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 17%;
  right: 10%;
  top: 100%;
  bottom: -115%;
  color: black;
  z-index: 10;
  font-size: 16px;
  font-family: Helvetica, Verdana, sans-serif;
  width: 68%%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 80%;
  transition: 1s;
  box-shadow: 0 0 10px 20px rgba(255,255,255, 0.2), 0 0 5px 10px rgba(255,255,255, 0.5);
}

.content-image {
  width:50%;
  border-radius:2%;
  transition: 0.5s;
}

.content-image:hover {
  box-shadow: 1px 4px 26px 0px rgba(0,0,0,0.75);
}

.content-text {
  width:50%;
  margin:0 auto;
  text-align:left;
}

.proj {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 8vh;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px black;
  overflow: scroll;
}

.proj a {
  float: right;
}

.modal {
  width: 100%;
  margin: auto;
  align-self: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in 1 forwards;
}


.otherLink {
  position: relative;
  display: inline-block;
  padding: 2.5vh 0rem;
  text-align: center;
  width: 33%;
  color: black;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  transition: all 0.3s;
  text-decoration: none;
}

.contact-link {
  color: rgb(73, 70, 80);
  transition: 0.5s;
}

.contact-link:hover {
  color: black;
}

.cont-link {
  line-height: 5px;
}
